
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.head{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    height: 780px;
    background-position: top left, bottom right;
    background-color: antiquewhite;
}


/* nav style */
nav{
    margin: 10px 180px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
  

}


.h3s{
    font-weight: 800;
    font-size: 38px;
   
}


.r-colour{
    color: #FD6E0A ;
    border: solid;
    border-radius: 100px;
    border-color: black;
 
}


.ul-style{
    list-style: none;
    color: #474747;
}


nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
}


nav ul li{
    margin: 30px ;
   
}


nav ul{
    display: flex;
    align-items: center;
    

}


.button-style{
    color: white;
    background-color: #FD6E0A;
    border:1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 27px ;
    
   
}


.button-style2{
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 30px ;
    margin: 0px 0px 0px 15px;
}


.banner{
    margin: 0px 65px 0px 180px; 
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
}


.banner-img{
    width : 546px;
}


.hardy{
    font-size: 55px;
}


.h4{
    font-size: 26px;
    font-weight: 500;
}


.para{
    color: #474747;
}


.section1{
    background-color: antiquewhite;
    width: 50%;
    margin: 120px auto;
    padding: 100px 180px;
    text-align: center;
}


.section1 .div1 p{
    color: #474747;
    text-align: center;
}


.div1
{
   background-color: white;
   padding: 10px 20px;
}


.div2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 30px;
}


.section1 .div1 h3{
    font-size: 26px;
}


.ok{
    color: #474747;
}
   

.ok2{
        font-weight: 600;
    }


 .section3{
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;   
 }   


 .section3 p{
    color: #474747;
 }


 .section3 h3{
    font-size: 26px;
 }


 .section4{
    width: 68%;
    margin: 50px auto;
    margin-bottom: 100px;
    display: flex;
    gap: 24px;
 }


 .section4 div{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.3);
 }

.summary{
    text-align: center;
}

 .in-div1{
    /* display: flex;
    flex-direction: column; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 10px;
 }
 .in-div2{
    /* display: flex;
    flex-direction: column; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 10px;
 }

 .section5 {
    /* background-color: aqua; */
    display: flex;
    gap: 40px;
    width: 70%;
    margin: 50px auto;
    justify-content: space-between;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.3); */

 }

 .section5 div div p{
    color: #474747;
 }
 .section5 div div h5{
    color: #474747;
 }


 .button-style3{
    color: white;
    background-color: #FD6E0A;
    border:1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 27px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
}

.mid{
    text-align: center;
    margin-bottom: 100px;
}

